@font-face {
    font-family: "Poppins ";
    src: url(../fonts/Poppins-Bold.ttf) url(../fonts/Poppins-LightItalic.ttf)  url(../fonts/Poppins-Regular.ttf) url(../fonts/Poppins-Thin.ttf) url(../fonts/Poppins-BlackItalic.ttf)  ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
.container {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 40vh;
    height: 60vh;
    border: none;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: radial-gradient(ellipse at top, #171628, transparent),
    radial-gradient(ellipse at left, #aa186b, transparent), radial-gradient(ellipse at left, #aa186b, transparent),radial-gradient(ellipse at right, #aa186b, transparent);
    box-shadow: rgba(0, 0, 0, 0.3) 0vh 0.3vh 5vh, rgba(0, 0, 0, 0.22) 0vh 0.7vh 1.5vh;
    transform: translate(-50%, -50%);
}
.grid{
    display: grid;
    grid-template-columns: auto auto ;
    max-height: 60vh;
    justify-content: center;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
::-webkit-scrollbar {
    width: 10px;
  }
    ::-webkit-scrollbar-track {
    background: #420a2a; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

  }
    ::-webkit-scrollbar-thumb {
    background: #aa186b; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: #555; 
  } 
.item{
    text-align: center;
    height: 190px;
    width: 180px;
    box-shadow: rgba(0, 0, 0, 0.3) 0vh 0.3vh 5vh, rgba(0, 0, 0, 0.22) 0vh 0.7vh 1.5vh;
    border-radius:2vh ;
    font-size: 10px;
    font-family:'Poppins', sans-serif;
    margin: 20px;

}
.button{
    color:rgb(231, 231, 231);
    background: linear-gradient(to top, #2d2d2f 0%,  #4b4b4e 100%);
    margin-top:10px;
    width: 100px;
    height: 25px;
    border-radius: 15px; 
    border: 0px black solid;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-weight: bold;
}
.text, .price{
    font-size:12px;
    color:rgb(231, 231, 231);   
}
.show-case{
    position: absolute;
    top: 50%;
    left: 173.5%;
    width: 60vh;
    height: 60vh;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0vh;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: radial-gradient(ellipse at top, #171628, transparent),
    radial-gradient(ellipse at left, #aa186b, transparent), radial-gradient(ellipse at left, #aa186b, transparent),radial-gradient(ellipse at right, #aa186b, transparent);
    box-shadow: rgba(0, 0, 0, 0.3) 0vh 0.3vh 5vh, rgba(0, 0, 0, 0.22) 0vh 0.7vh 1.5vh;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    color:rgb(231, 231, 231);   
}
.img{
    max-height:180px;
}
.img-show-case{
    height:180px;
    width: 180px;
}
.show-case{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
  
}
.buy{
    width: 180px;
}